#Importar librerias

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns

import datetime

from wordcloud import WordCloud

In [3]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

#Importar DataFrame
Para este ejemplo se debe disponer de una planilla excel en google drive, obtener el link y tener los permisos necesarios. Se recomienda descargar de github el archivo, subirlo a una carpeta de google drive y obtener el link

In [6]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/15HF6rOTlt5hccfZ9NJ7sr3AqFu0DpNncNL_ApB2Ol1E/edit#gid=761479673')
sheet = wb.worksheet('Solo')
data = sheet.get_all_values()

df = pd.DataFrame(data)
df.columns = df.iloc[0]
df = df.iloc[1:]

## Visualización de Información
Comunmente cuando vamos a trabajar y generar modelos es importante que tratemos de entender y dimensionar los datos con los que trabajaremos por lo que en este notebook principalmente vamos a realizar el pre-procesamiento de datos y familiarizarnos con estos

In [9]:
df.head(5)

,,id,created_at,author_id,message,source,to_rappi,from_rappi,to_pedidos,from_pedidos,Publicidad,Target,Sentimiento
1,335,1529611094569930754,2022-05-25T23:51:18.000Z,1154200237172559872,@pedidosya Les envié un DM,Twitter for iPhone,0,0,1,0,No,Otros,Neutro
2,336,1529610559519350785,2022-05-25T23:49:10.000Z,46814215,@pedidosya no es posible que no haya solución ...,Twitter for Android,0,0,1,0,No,Aplicación,Negativo
3,0,1529610180958167041,2022-05-25T23:47:40.000Z,1513664137934651395,@RappiArgentina 1 hora 20 minutos esperando el...,Twitter for iPhone,1,0,0,0,No,Aplicación,Negativo
4,337,1529609783854223360,2022-05-25T23:46:05.000Z,916324852952457221,@pedidosya estoy teniendo un problema con los ...,Twitter for Android,0,0,1,0,No,Aplicación,Negativo
5,338,1529608803703922688,2022-05-25T23:42:12.000Z,1491381110873411592,"@pedidosya PEDIDO INCOMPLETO,faltan 2 gaseosa...",Twitter for Android,0,0,1,0,No,Repartidor,Negativo

In [11]:
df.sample(10)

,,id,created_at,author_id,message,source,to_rappi,from_rappi,to_pedidos,from_pedidos,Publicidad,Target,Sentimiento
67,382,1529540211671068672,2022-05-25T19:09:38.000Z,1432727880279150604,@pedidosya Patente del coronavirus,Twitter for Android,0,0,1,0,No,Otros,Neutro
637,789,1528360345546416135,2022-05-22T13:01:16.000Z,1269793483734290432,"@pedidosya Gente, mientras esperan el pedido, ...",Twitter for Android,0,0,1,0,No,Otros,
313,558,1529054710103166977,2022-05-24T11:00:26.000Z,722920915009474560,RT @PaoBonaCina: @pedidosya El nuevo Massa,Twitter for Android,0,0,1,0,No,Otros,
1177,1192,1527121689791737856,2022-05-19T02:59:18.000Z,2696839168,@pedidosya realicé un pedido de 1 pizza c/2emp...,Twitter Web App,0,0,1,0,No,Aplicación,Negativo
685,198,1528186939362316288,2022-05-22T01:32:13.000Z,1392618183769657351,@RappiArgentina mi pedido llego muy mal y no m...,Twitter for iPhone,1,0,0,0,No,Local,Negativo
146,41,1529290525898969088,2022-05-25T02:37:28.000Z,1229919793668665345,@RappiArgentina @roo_jazmin01 Yo también los a...,Twitter for Android,1,0,0,0,No,Positivo,Positivo
928,1004,1527714909252792321,2022-05-20T18:16:32.000Z,109040723,@pedidosya Llego con 1 hora y media de atraso ...,Twitter for Android,0,0,1,0,No,Local,Negativo
217,495,1529201281515999232,2022-05-24T20:42:51.000Z,1356077737,"@pedidosya Ojalá entreguen soluciones, siempre...",Twitter for Android,0,0,1,0,No,Local,
1050,1099,1527430591016325120,2022-05-19T23:26:45.000Z,131308314,@pedidosya... debe tener tan altos niveles de ...,Twitter Web App,0,0,1,0,No,Aplicación,Negativo
435,643,1528623227249074177,2022-05-23T06:25:52.000Z,173414717,@pedidosya Harto de edta publicidad,Twitter for Android,0,0,1,0,No,Aplicación,

In [12]:
df.shape

(1281, 13)

In [13]:
df = df.reset_index()

In [14]:
pd.options.mode.chained_assignment = None  # default='warn'

#Corregir campo fecha
df.created_at = df.created_at.str.replace('T', '', regex=True) 
df.created_at = df.created_at.str.replace('.000Z', '', regex=True)

i = 0
for i in range(len(df)): 
  #print(df[i])
  fecha=0
  hora=0
  fecha  = df.created_at[i][:10]
  #print(fecha)
  hora = parte1 = df.created_at[i][11:]
  #print(hora)
  df.created_at[i] = fecha# + ' ' + hora
  i = i + 1

In [15]:
df.head(1)

,index,,id,created_at,author_id,message,source,to_rappi,from_rappi,to_pedidos,from_pedidos,Publicidad,Target,Sentimiento
0,1,335,1529611094569930754,2022-05-25,1154200237172559872,@pedidosya Les envié un DM,Twitter for iPhone,0,0,1,0,No,Otros,Neutro

### Lower Casing

Pasar cadenas a minuscula

In [17]:
df['message_lower'] = 0
df.message_lower = df.message.str.lower()
df.head(1)

,index,,id,created_at,author_id,message,source,to_rappi,from_rappi,to_pedidos,from_pedidos,Publicidad,Target,Sentimiento,message_lower
0,1,335,1529611094569930754,2022-05-25,1154200237172559872,@pedidosya Les envié un DM,Twitter for iPhone,0,0,1,0,No,Otros,Neutro,@pedidosya les envié un dm

In [19]:
df.message_lower = df.message_lower.str.replace(r'@[a-zA-z]+:?', '', regex=True) #Elimina @xxx 
#Anteriormente lo cambiamos por "@xxx"
df.head(1)

,index,,id,created_at,author_id,message,source,to_rappi,from_rappi,to_pedidos,from_pedidos,Publicidad,Target,Sentimiento,message_lower
0,1,335,1529611094569930754,2022-05-25,1154200237172559872,@pedidosya Les envié un DM,Twitter for iPhone,0,0,1,0,No,Otros,Neutro,les envié un dm